/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #0e5fb0;
  color: #ffffff;
  padding: 10px 0;
}

.header .logo {
  display: inline-block;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 10px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

.search-container button {
  padding: 5px;
  background-color: #f9b02d;
  border: none;
  color: #fff;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.product {
  width: 270px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e5e3ec;
  overflow: hidden;
  color: #fff;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content-box {
  padding: 15px;
  text-align: center;
}

.name {
  font-size: 18px;
  margin-bottom: 10px;
}

.content-box p {
  color: #a6a6a6;
  font-size: 13px;
  margin-bottom: 15px;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn a {
  width: 150px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background-color: #f9b02d;
  border-radius: 7px;
  display: inline-block;
}
