<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="form-wrapper sign-in">
        <form action="/login" method="post">
          <h2>Enter</h2>
          <div class="input-group">
            <input name="user" type="text" required />
            <label for="">user</label>
          </div>
          <div class="input-group">
            <input name="username" type="text" required />
            <label for="">Username</label>
          </div>
          <div class="input-group">
            <input name="password" type="password" required />
            <label for="">Password</label>
          </div>
          <button type="submit" class="btn">Enter</button>
        </form>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
